%p#notice= notice

%h1 ECHOES

My HEMS Server & API Gateway

%h2 Search devices

= form_with url: search_url do |form|
  = form.label 'NIC', for: :interface
  = form.select :interface, options_for_select(@interfaces, selected: params[:interface])
  = form.button 'Scan'

%h2 Listing devices

- @nodes.each do |node|

  %h3
    = "#{node.name} (#{node.ipaddr})"

  %table
    %thead
      %tr
        %th Name
        %th Ipaddr
        %th Eoj
        %th
        %th
        %th

    %tbody
      - node.devices.each do |device|
        %tr
          %td= device.name
          %td= device.ipaddr
          %td= device.eoj
          %td= link_to 'Show', device
          %td= link_to 'Edit', edit_device_path(device)
          %td= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }
